hamcrest: 1.2.1
haxelib_client: 3.1.0-rc.4
hxcpp: 3.2.94
mconsole: 1.6.1
mcore: 1.3.13
mcover: 2.1.1
mdk-assert: 0.1.0
mdk-async: 0.1.0
mdk-binding: 0.1.0
mdk-build: 0.1.6
mdk-cli: 0.1.6
mdk-config: 0.1.3
mdk-core: 0.1.1
mdk-error: 0.1.2
mdk-event: 0.1.0
mdk-haxe: 0.1.2
mdk-lib: 0.1.7
mdk-log: 0.1.4
mdk-markup: 0.1.1
mdk-run: 0.1.2
mdk-server: 0.1.1
mdk-sys: 0.1.5
mdk-test: 0.1.2
mlib: 2.0.2
msignal: 1.2.3
msys: 1.2.2
mtask: 5e0ccf8
munit: 2.1.1